<body>
    <div class="container">
        <h1>Alterar resolução</h1>
        <form action="/converter" method="post" enctype="multipart/form-data">
            <div class="input-group">
                <label for='files'>Selecione os arquivos</label>
                <input id='files' type="file" multiple name="file">
            </div>
            <button class="submit-btn" type='submit'>Upload</button>
        </form>
    </div>
</body>